<app-nav-bar></app-nav-bar>

<main>
    <div class="head-list">
        <div class="search-bar">
            <input type="text" placeholder="Pesquisar">
            <div class="button-bar">
                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/64/64673.png">
                </button>
            </div>
        </div>
    </div>
    <div class="main-select">

        <!-- Group Select 1 -->
        <div class="group-select">
            <div class="select" (click)="openSelect(0)">
                <div class="select-left">
                    <h3>Lei nº 12.737/2012 </h3>
                </div>
                <div class="select-right">
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/5996/5996831.png">
                    </button>
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60758.png" 
                        [class.arrow-icon]="valueSelect[0] === 0" 
                        [class.arrow-icon-close]="valueSelect[0] === 1">
                    </button>
                </div> 
            </div>
            <div [classList]="openCloseSelect[valueSelect[0]]">
                <div class="group-text">
                    <p>Sancionada em 30 de novembro de 2012, essa lei tipifica como crime a invasão de dispositivos informáticos, como computadores e smartphones, para obter, adulterar ou destruir dados pessoais ou informações sigilosas. As penas variam de três meses a dois anos de detenção, além de multa.</p>
                </div>
            </div>
        </div>

        <!-- Group Select 2 -->
        <div class="group-select">
            <div class="select" (click)="openSelect(1)">
                <div class="select-left">
                    <h3>Lei nº 12.965/2014 </h3>
                </div>
                <div class="select-right">
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/5996/5996831.png">
                    </button>
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60758.png" 
                        [class.arrow-icon]="valueSelect[1] === 0" 
                        [class.arrow-icon-close]="valueSelect[1] === 1">
                    </button>
                </div> 
            </div>
            <div [classList]="openCloseSelect[valueSelect[1]]">
                <div class="group-text">
                    <p>Sancionada em 23 de abril de 2014, essa lei estabelece os direitos e deveres dos usuários e provedores de serviços na internet, garantindo a neutralidade da rede, a privacidade dos usuários e a proteção de dados pessoais. Também define a responsabilidade dos provedores em relação ao conteúdo gerado por terceiros.</p>
                </div>
            </div>
        </div>

        <!-- Group Select 3 -->
        <div class="group-select">
            <div class="select" (click)="openSelect(2)">
                <div class="select-left">
                    <h3>Lei nº 13.185/2015 </h3>
                </div>
                <div class="select-right">
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/5996/5996831.png">
                    </button>
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60758.png" 
                        [class.arrow-icon]="valueSelect[2] === 0" 
                        [class.arrow-icon-close]="valueSelect[2] === 1">
                    </button>
                </div> 
            </div>
            <div [classList]="openCloseSelect[valueSelect[2]]">
                <div class="group-text">
                    <p>Sancionada em 6 de novembro de 2015, essa lei define medidas de prevenção e combate ao bullying e ao cyberbullying, estabelecendo ações educativas e de conscientização para proteger crianças e adolescentes contra práticas ofensivas e prejudiciais online.</p>
                </div>
            </div>
        </div>

        <div class="group-select">
            <div class="select" (click)="openSelect(3)">
                <div class="select-left">
                    <h3>Lei nº 13.709/2018 </h3>
                </div>
                <div class="select-right">
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/5996/5996831.png">
                    </button>
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60758.png" 
                        [class.arrow-icon]="valueSelect[3] === 0" 
                        [class.arrow-icon-close]="valueSelect[3] === 1">
                    </button>
                </div> 
            </div>
            <div [classList]="openCloseSelect[valueSelect[3]]">
                <div class="group-text">
                    <p>Sancionada em 14 de agosto de 2018, essa lei regula o tratamento de dados pessoais no Brasil, estabelecendo diretrizes para a coleta, armazenamento e uso de informações pessoais. Visa proteger a privacidade dos indivíduos e garantir maior controle sobre seus dados pessoais.</p>
                </div>
            </div>
        </div>

        <div class="group-select">
            <div class="select" (click)="openSelect(4)">
                <div class="select-left">
                    <h3>Lei nº 14.155/2021 </h3>
                </div>
                <div class="select-right">
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/5996/5996831.png">
                    </button>
                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60758.png" 
                        [class.arrow-icon]="valueSelect[4] === 0" 
                        [class.arrow-icon-close]="valueSelect[4] === 1">
                    </button>
                </div> 
            </div>
            <div [classList]="openCloseSelect[valueSelect[4]]">
                <div class="group-text">
                    <p>Sancionada em 27 de maio de 2021, essa lei introduziu a criminalização do furto qualificado mediante fraude eletrônica, popularmente conhecido como "golpe do Pix". Visa combater o uso indevido de serviços financeiros eletrônicos para cometer fraudes, estabelecendo penas específicas para esses crimes.</p>
                </div>
            </div>
        </div>
    </div>
</main>
