<main>
    <div class="content">

        <div class="logo"><img class="img" src="https://project-law-api.kesug.com/Logo.png" alt=""></div>

        <div class="login">


            <div class="form">

                <h3>FAÇA LOGIN</h3>
                
                
                <div class="input-container">
                    <input type="text" id="input" required="">
                    <label for="input" class="label">E-mail</label>
                    <div class="underline"></div>
                </div>
                <div class="input-container">
                    <input type="text" id="input" required="">
                    <label for="input" class="label">Senha</label>
                    <div class="underline"></div>
                </div>

                <p class="informativo">Esqueceu sua Senha? <a href="#" class="hiperlink">Recuperar</a></p>
                <div class="content-button">
                    <button class="btn">
                        <div class="lin">
                            <p class="log-btn">LOGAR</p>
                        </div>
                    </button>   
                    <p style="margin-top: 10px;" class="informativo">Não possui conta? <a href="cadastro" class="hiperlink">Cadastrar-se</a></p>
                </div>
                
            </div>
            
        </div>
    </div>
</main>
 
