<main>
    <div class="content">
        <a href="">
            <img src="https://cdn-icons-png.flaticon.com/512/45/45670.png" width="30" height="30" alt="">
        </a>
        <div class="box-left">
            <div class="form">   
                <div class="input">
                    <input type="text" id="input" required="">
                    <label for="input" class="label">Nome do Réu: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <input type="text" id="input" required="">
                    <label for="input" class="label">Idade do Réu: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <select name="" id="" class="select">
                        <option value="valor1" class="option">Valor 1</option>
                        <option value="valor1" class="option">Valor 2</option>
                        <option value="valor1" class="option">Valor 3</option>
                    </select>
                    <label for="input" class="label">Crimes: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <input type="date" id="input" required="">
                    <label for="input" class="label" id="date">Data do Crime: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <select name="" id="" class="select">
                        <option value="valor1" class="option">Valor 1</option>
                        <option value="valor1" class="option">Valor 2</option>
                        <option value="valor1" class="option">Valor 3</option>
                    </select>
                    <label for="input" class="label">Atenuantes: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <select name="" id="" class="select">
                        <option value="valor1" class="option">Valor 1</option>
                        <option value="valor1" class="option">Valor 2</option>
                        <option value="valor1" class="option">Valor 3</option>
                    </select>
                    <label for="input" class="label">Agravantes: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <input type="text" id="input" required="">
                    <label for="input" class="label">Multa: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <input type="text" id="input" readonly>
                    <label for="input" class="label">Pena: </label>
                    <div class="underline"></div>
                </div>

                <div class="check">
                    <input type="checkbox" required="">
                    <label for="check"> Réu Primario</label>
                    <div class="underline"></div>
                </div>
                
            </div>
            <div class="buttons">
                <div class="group-text">
                    <button class="btn" style="background-color: green;">CALCULAR</button>
                    <button class="btn" style="background-color: rgb(224, 1, 1);">LIMPAR</button>
                    <button class="btn" style="background-color: black;">PDF</button>
                </div>
                <div class="group-icon">
                    <button class="btn" style="background-color: green;"><img src="https://m.media-amazon.com/images/I/41hfs6L4L2L.png" alt="" width="40" height="40"></button>
                    <button class="btn" style="background-color: rgb(224, 1, 1);"><img src="https://cdn.icon-icons.com/icons2/17/PNG/256/recyclebinfilled_recycling_full_garbage_1993.png" alt="" width="30" height="30"></button>
                    <button class="btn" style="background-color: black;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiWZdkbh7LudkBqdTOOBBvFGzQlniXQ6av7g&s" alt="" width="30" height="30"></button>
                </div>
            </div>
        </div>

        <div class="box-right">
            <label class="crimes">CRIMES (ARTIGOS SELECIONADOS)</label>
            <div class="artigo">

                <div class="list">
                    <div class="lei">
                        <button (click)="openSelect()" class="btn-img">
                            <img src="https://cdn-icons-png.flaticon.com/512/60/60758.png" [classList]="arrowAnimation[valueSelect]">
                        </button>
                    </div>
                    <div class="agravante">
                        <div [classList]="openCloseSelect[valueSelect]">
                            <div class="group-modal">
                                <p>descrição sobre uma lei descrição</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="lei">
                        <button (click)="openSelect()" class="btn-img">
                            <img src="https://cdn-icons-png.flaticon.com/512/60/60758.png" [classList]="arrowAnimation[valueSelect]">
                        </button>
                    </div>
                    <div class="agravante">
                        <div [classList]="openCloseSelect[valueSelect]">
                            <div class="group-modal">
                                <p>descrição sobre uma lei descrição</p>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>
    </div>
</main>
