<main>
    <div class="content">
        <a href="">
            <img src="https://cdn-icons-png.flaticon.com/512/45/45670.png" width="30" height="30" alt="">
        </a>
        <div class="box-left">
            <div class="form">   
                <div class="input">
                    <input type="text" id="input" required="" [(ngModel)]="nomeDoReu">
                    <label for="input" class="label">Nome do Réu: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <input type="text" id="input" required="" [(ngModel)]="idadeDoReu">
                    <label for="input" class="label">Idade do Réu: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <select [(ngModel)]="this.selectCrime" name="" id="" class="select">
                        <option value="5" class="14">Bullyng</option>
                        <option value="6" class="6">Invasão de Sistema</option>
                        <option value="2" class="2">Roubo de Identidade</option>
                        <option value="9" class="9">Disseminação de Virus</option>
                        <option value="1" class="10">Phishing</option>
                    </select>
                    <label for="input" class="label">Crimes: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <input type="date" id="input" required="" [(ngModel)]="dataDoCrime">
                    <label for="input" class="label" id="date">Data do Crime: </label>
                    <div class="underline"></div>
                    </div>
                    <div class="input">
                    <select name="" id="" class="select" [(ngModel)]="atenuantes">
                        <option value="valor1" class="option">Menos de Idade</option>
                        <option value="valor1" class="option">Adulto Joven</option>
                        <option value="valor1" class="option">Adulto</option>
                        <option value="valor1" class="option">Idoso</option>
                    </select>
                    <label for="input" class="label">Atenuantes: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <select name="" id="" class="select" [(ngModel)]="agravantes">
                        <option value="valor1" class="option">Reicidendia</option>
                        <option value="valor1" class="option">Crime organizado</option>
                    </select>
                    <label for="input" class="label">Agravantes: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <input type="text" id="input" required="" [(ngModel)]="multa">
                    <label for="input" class="label">Multa: </label>
                    <div class="underline"></div>
                </div>
                <div class="input">
                    <input type="text" id="input" value="{{this.numberReal}}" readonly>
                    <label for="input" class="label">Pena: </label>
                    <div class="underline"></div>
                </div>

                <div class="check">
                    <input type="checkbox" required="">
                    <label for="check"> Réu Primario</label>
                    <div class="underline"></div>
                </div>
                
            </div>
            <div class="buttons">
                <div class="group-text">
                    <button (click)="calcular()" class="btn" style="background-color: green;">CALCULAR</button>
                    <button (click)="limparDados()" class="btn" style="background-color: rgb(224, 1, 1);">LIMPAR</button>
                    <button class="btn" style="background-color: black;">PDF</button>
                </div>
                <div class="group-icon">
                    <button class="btn" style="background-color: green;"><img src="https://m.media-amazon.com/images/I/41hfs6L4L2L.png" alt="" width="40" height="40"></button>
                    <button class="btn" style="background-color: rgb(224, 1, 1);"><img src="https://cdn.icon-icons.com/icons2/17/PNG/256/recyclebinfilled_recycling_full_garbage_1993.png" alt="" width="30" height="30"></button>
                    <button class="btn" style="background-color: black;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiWZdkbh7LudkBqdTOOBBvFGzQlniXQ6av7g&s" alt="" width="30" height="30"></button>
                </div>
            </div>
        </div>

        <div class="box-right">
            <label class="crimes">CRIMES (ARTIGOS SELECIONADOS)</label>
            <div class="artigo">
              <div *ngFor="let crime of crimes; let i = index" class="list">
                <div class="lei">
                  <div class="text-lei">
                    {{ crime.lei }}
                  </div>
                  <button (click)="toggleSelect(i)" class="btn-img">
                    <img 
                      src="https://cdn-icons-png.flaticon.com/512/60/60758.png" 
                      [ngClass]="{ 'arrow-icon': !openCloseSelect[i], 'arrow-icon-close': openCloseSelect[i] }">
                  </button>
                </div>
                <div class="agravante" *ngIf="openCloseSelect[i]">
                  <div class="group-modal">
                    <p>AGRAVANTES</p><br>
                    <p>{{ crime.agravantes }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</main>
