<nav>

    <div class="nav-left">
        <button>
            <div class="btn-icon">
                <img src="../assets/image/book-alt.png">
            </div>
        </button>
        <button (click)="abriEfecharSideBar(false)" class="button-nav-side-bar" >
            <div class="btn-icon">
                <img src="https://cdn-icons-png.flaticon.com/512/2311/2311531.png">
            </div>
        </button>
    </div>
    <div class="nav-center">
        <button>
            <div class="btn-icon">
                <img src="https://cdn-icons-png.flaticon.com/512/860/860763.png">
            </div>
        </button>
        <button>
            <div class="btn-icon">
                <img src="https://cdn-icons-png.flaticon.com/512/171/171322.png">
            </div>
        </button>
        <button>
            <div class="btn-icon">
                <img src="https://cdn-icons-png.flaticon.com/512/64/64429.png">
            </div>
        </button>
    </div>
    <div class="nav-right">
        <button>
            <div class="btn-icon">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="">
            </div>
        </button>
    </div>
        
    </nav>

<div [classList]="sideClass[sizeClass]">
    <div [classList]="sideComponents[sizeClass]">
        <div class="side-head">
            <button (click)="abriEfecharSideBar(true)" class="button-nav-side-bar" >
                <img src="https://cdn-icons-png.flaticon.com/256/75/75519.png">
            </button>
        </div>
        <div class="side-group">
            <div class="side-content">
                <div class="side-lin">
                    <a href="">Cadastrar Leis & Artigos</a>
                </div>
                <div class="side-lin">
                    <a href="">Listar Leis & Artigos</a>
                </div>
                <div class="side-lin">
                    <a href="">Calcular Pena</a>
                </div>
                <div class="side-lin">
                    <a href="">Login</a>
                </div>
                <div class="side-lin">
                    <a href="">Main</a>
                </div>
            </div>
        </div>
    </div>
</div>