nav{
    width: 100%;
    height: 70px;
    background-color: #5E2129;
    box-shadow: 0px 0px 10px 1px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}


nav button{
    padding: 20px;
    width: 45px;
    height: 45px;
    border: solid 1px black;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button:hover{
    transform: translateY(-3px) scale(1.1);
}

nav button img{
    width: 30px;
}

.nav-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

// @media (max-width: 1000px){

//     nav{
//         height: 100px;
//     }

//     nav button{
//         width: 80px;
//         height: 80px;
//     }

// }

@media (max-width: 750px){

    nav button{
        display: none;
    }

}

.side-bar{
    position: absolute;
    background-color: #5E2129;
    height: 100%;
    width: 500px;
    box-shadow: 0px 0px 10px 1px black;
    transition: 300ms;
}

.side-bar-close{
    position: absolute;
    background-color: #5E2129;
    height: 100%;
    width: 0%;
    box-shadow: 0px 0px 10px 1px black;
    transition: 300ms;
}

@media (max-width: 500px){
    .side-bar{
        width: 100%;
    }
}

.side-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.side-head button{
    padding: 20px;
    width: 45px;
    height: 45px;
    margin: 10px;
    border: solid 1px black;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: pointer;
}

.side-group{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.side-lin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.side-lin a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
}