<nav>

    <div class="nav-left">
        <button>
            <div class="btn-icon">
                <a href="/">
                    <img src="https://cdn-icons-png.flaticon.com/512/271/271220.png">
                </a>
            </div>
        </button>
        <button (click)="abriEfecharSideBar(false)" class="button-nav-side-bar" >
            <div class="btn-icon">
                <img src="https://cdn-icons-png.flaticon.com/512/2311/2311531.png">
            </div>
        </button>
    </div>
    <div class="nav-center">
        <img src="https://project-law-api.kesug.com/Logo.png">
    </div>
    <div class="nav-right">
        <button>
            <div class="btn-icon">
                <a href="login">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="">
                </a>
            </div>
        </button>
    </div>
        
    </nav>

<div [classList]="sideClass[sizeClass]">
    <div [classList]="sideComponents[sizeClass]">
        <div class="side-head">
            <button (click)="abriEfecharSideBar(true)" class="button-nav-side-bar" >
                <img src="https://cdn-icons-png.flaticon.com/256/75/75519.png">
            </button>
        </div>
        <div class="side-group">
            <div class="side-content">
                <div class="side-lin">
                    <a href="list">Listar Leis & Artigos</a>
                </div>
                <div class="side-lin">
                    <a href="login">Login</a>
                </div>
                <div class="side-lin">
                    <a href="/">Principal</a>
                </div>
            </div>
        </div>
    </div>
</div>