<app-nav-bar></app-nav-bar>

<main>

    <div class="main-card">
        <div class="card" (click)="showModal()">
            <div class="card-img">
                <img src="https://cdn-icons-png.flaticon.com/512/860/860763.png">
            </div>
            <h1>Cadastrar Leis & Artígos</h1>
        </div>
        <div class="card"  >
            <a href="list" style="text-decoration: none;">
                <div class="card-img">
                    <img src="https://cdn-icons-png.flaticon.com/512/171/171322.png">
                </div>
                <h1>Listar Leis & Artígos</h1>
            </a>
        </div>
        <div class="card" (click)="showCalculadora()" >
            <div class="card-img">
                <img src="https://cdn-icons-png.flaticon.com/512/64/64429.png">
            </div>
            <h1>Calcular Pena</h1>
        </div>
    </div>

    <app-modal *ngIf="isModal" (isCloseModal)="showModal()" ></app-modal>
    <app-calculadora-page *ngIf="isCalculadora"></app-calculadora-page>
</main>


