main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 90%;
    height: 550px;
    border-radius: 20px;
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;

    .modal-head{
        width: 100%;
        height: 35px;
        border-bottom: solid 1px black;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .modal-head-left{
            height: 100%;
            
            button{
                padding: 5px;
                height: 100%;
                border: none;
                background-color: transparent;
                font-weight: bold;
                transition: 200ms;
            }

            button:hover{
                background-color: gray;
                transition: 200ms;
            }

        }

        .modal-head-rigth{
            height: 100%;

            button{
                padding: 5px;
                height: 100%;
                width: 50px;
                border: none;
                border-left: solid 1px black;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 25px;
                }
            }

            button:hover{
                background-color: gray;
                transition: 200ms;
            }
        }
    }

    .modal-main{
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;


        // MODAL DE LEIS

        .screen-modal1{
            width: 100%;
            display: none;


            .group-inputs1{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
    
                .inputs1{
                    width: 100%;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    
                    input{
                        width: 35vw;
                        padding: 10px;
                        background-color: rgb(140, 140, 140);
                    }
                }
    
                .inputs2{
                    width: 100%;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    input{
                        width: 35vw;
                        padding: 10px;
                        background-color: rgb(140, 140, 140);
                    }
                }
            }

            .group-inputs2{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .inputs3{
                    width: 100%;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    textarea{
                        width: 81vw;
                        height: 90px;
                        margin-bottom: 10px;
                        padding: 5px;
                        columns: 10;
                        background-color: rgb(140, 140, 140);
                    }
                }
            }

        }

        .screen-modal2{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .group-inputs1{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .lin-title{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 100%;
                    margin-bottom: 10px;
                    margin-top: 20px;

                    label{
                        margin-left: 25px;
                    }
                }

                .group-select1{
                    width: 95%;
                    height: 150px;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    background-color: gray;
                    border-radius: 10px;
                    overflow: hidden;
                    overflow-y: scroll;
                    
                    .select-cap{
                        width: 95%;
                        height: 40px;
                        border-radius: 10px;
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: rgb(201, 201, 201);

                        h4{
                            margin-left: 10px;
                        }

                        button{
                            width: 30px;
                            border: none;
                            background: transparent;
                            transition: 200ms;
                            margin-right: 10px;
                            img{
                                width: 100%;
                            }
                        }

                        button:hover{
                            filter: contrast(5);
                            transition: 200ms;
                        }
                    }
                }
                .group-select2{
                    width: 95%;
                    height: 150px;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    background-color: gray;
                    border-radius: 10px;
                    overflow: hidden;
                    overflow-y: scroll;

                    .select-cap{
                        width: 95%;
                        height: 40px;
                        border-radius: 10px;
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: rgb(201, 201, 201);
                        h4{
                            margin-left: 10px;
                        }

                        button{
                            width: 30px;
                            border: none;
                            background: transparent;
                            transition: 200ms;
                            margin-right: 10px;
                            img{
                                width: 100%;
                            }
                        }

                        button:hover{
                            filter: contrast(5);
                            transition: 200ms;
                        }
                    }
                }
            }

        }

        .button-modal{
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: end;

            .group-button{

                button{
                    width: 200px;
                    height: 40px;
                    border: none;
                    background-color: rgb(130, 0, 0);
                    border-radius: 10px;
                    color: white;
<<<<<<< HEAD
                    margin-top: 30px;
=======
                    transition: 0.5s;
                }
                button:hover{
                    letter-spacing: 5px;
                    transition: 0.5s;
>>>>>>> 8c608e531d82ce2dff65159ce9cebb0484bd22d1
                }
            }
        }

    }
}

.style-global{
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #444444;
    color: white;
}